.infoBox {
    flex: .3;
    cursor: pointer;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: #ffffff !important;
    color: #888888 !important;
    white-space:nowrap
}

.infoBox:hover {
  background-color: #f5f5f5 !important;
}

.infoBox:not(:last-child) {
   margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
  padding: 0;
  box-shadow: 0px 0px 20px 10px rgb(200, 200, 200) !important;
}

.infoBox--red {
  border-color: red;
}

.infoBox--orange {
  border-color: #eca100;
}

.infoBox__cases--green {
  color: lightgreen !important;
}

.infoBox__cases {
  color: #eca100;
  font-weight: 600;
  font-size: 1.75rem;
  margin: 0.5rem 0;
}

.infoBox__deaths {
  color: red !important;
}

.infoBox__cases > span {
  color: #9c9b9b;
  font-weight: 400;
}

.infoBox__total {
  color: #9c9b9b !important;
  font-weight: 700 !important;
  font-size: .8rem !important;
  margin-top: .7rem !important;
}

.infoBox__title {
  font-size: 1.2rem !important;
}

@media (max-width: 800px) {
  .infoBox {
    width: 100%;
  }
}

@media (max-width: 1500px) {
  .infoBox:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

