.infoBox {
    flex: .3;
    cursor: pointer;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: #888888 !important;
    white-space:nowrap;
}

.infoBox:hover {
  box-shadow: 0px 0px 20px 2px rgb(100, 100, 100) !important;
}

.infoBox:not(:last-child) {
   margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid #56ac77;
  padding: 0;
  box-shadow: 0px 0px 10px 5px rgba(100, 100, 100, 0.637) !important;
  transform: translate(0px, -5px);
  transition: all 0.8s linear;
}

.infoBox--red {
  border-color: #E38594;
}

.infoBox--orange {
  border-color: #eca100;
}

.infoBox__cases--green {
  color: #56ac77 !important;
}

.infoBox__cases {
  color: #eca100;
  font-weight: 600;
  font-size: 1.75rem;
  margin: 0.5rem 0;
}

.infoBox__deaths {
  color: #E38594 !important;
}

.infoBox__cases > span {
  color: #9c9b9b;
  font-weight: 400;
}

.infoBox__total {
  color: #9c9b9b !important;
  font-weight: 700 !important;
  font-size: .8rem !important;
  margin-top: .7rem !important;
}

.infoBox__title {
  font-size: 1.2rem !important;
}

@media (max-width: 800px) {
  .infoBox {
    width: 100%;
  }
}

@media (max-width: 1500px) {
  .infoBox:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

