.table {
    margin-top: 20px;
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
    color: #7c7c7c;
    min-width: 100%;
}

h3 {
    color: #E38594;
}

.table tr {
    display: flex;
    justify-content: space-between;
    
    border-radius: 10px;
}

.table__img {
    height: 10px;
}

.table td {
    padding: 0.5rem;
}
.table tr:nth-of-type(odd) {
    background-color: #ffc4c4;
}

@media (max-width: 800px) {
    .table {
        height: 200px
    }
}
