* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  filter: invert(1) hue-rotate(180deg)
}

.invert {
  filter: invert(1) hue-rotate(180deg)
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px
}

.app__dropdown {
  background-color: white;
  min-width: 200px !important;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-direction: column;
}

.app__header > img {
  margin-bottom: 5px;
}
.app__header-wrapper {
  display: flex;
  min-width: 450px;
  margin-top: 30px
}

.app__header-wrapper > h4 {
  line-height: 3.25;
  margin-right: 15px;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__left {
  flex: .8
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__right {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  max-height: 850px;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* .app__graph {
  flex-grow: 1;  
} */

.app__title {
  margin: 20px 0;
}

@media (max-width: 1200px) {
  .app {
    flex-direction: column;
  }
}

@media (max-width: 1500px) {
  .app__left {
    margin-right: 20px;
    min-width: 400px;
  }

  /* .app__stats {
    flex-direction: column;
  } */
}

