.infoBox {
    flex: 1;
    cursor: pointer;
    padding-top: 10px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.infoBox:hover {
  background-color: #fdfdf7 !important;
}

.infoBox:not(:last-child) {
   margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
  padding: 0;
  background-color: #fdfded !important;
}

.infoBox--red {
  border-color: red;
}

.infoBox__cases--green {
  color: lightgreen !important;
}

.infoBox__cases {
  color: #be1937;
  font-weight: 600;
  font-size: 1.75rem;
  margin: 0.5rem 0;
}

.infoBox__cases > span {
  color: #6c757d;
  font-weight: 400;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: .8rem !important;
  margin-top: .7rem !important;
}

.infoBox__title {
  font-size: 1.2rem !important;
}

@media (max-width: 1500px) {
  .infoBox:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0;
  }
}

