.table {
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: #6a5d5d;
    min-width: 100%;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table__img {
    height: 10px;
}

.table td {
    padding: 0.5rem;
}
.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}

@media (max-width: 800px) {
    .table {
        height: 200px
    }
}
